{% extends "layout.html" %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style_register.css') }}">
    <h1>
        Register Page
    </h1>
        <form action="/register" method="post">
            <input name="username" placeholder="Username" type="text" autofocus>
            <input name="password" type="password" placeholder="Password" pattern=".{7,}" title="Input must be at least 7 characters long">
            <input name="password2" type="password" placeholder="Repeat password" pattern=".{7,}" title="Input must be at least 7 characters long">

            <input type="submit" value="Register">
        </form>

        <a href="{{url_for('login')}}">Have account already? Log In!</a><br>
        <a href="{{url_for('home')}}">Home page</a><br>

            <p style="color:red">{{ error }}</p>

{% endblock %}